In [1]:
import kaggle

try:
    # Tentative d'authentification
    kaggle.api.authenticate()
    print("Authentification réussie !")
    
    # Téléchargement du dataset
    kaggle.api.dataset_download_files('ankitbansal06/retail-orders', path='-', unzip=True)
    print("Téléchargement terminé avec succès !")
    
except Exception as e:
    print(f"Une erreur s'est produite : {e}")

/Users/simogabin/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

Authentification réussie !
Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
Téléchargement terminé avec succès !

In [2]:
import os 

for i in os.listdir():
    if i.endswith("zip"):
        with zipfile.zipFile(i, "r") as zip1:
            zip1.extrectall()

In [3]:
import pandas as pd
for i in os.listdir():
    if i.endswith("csv"):

        df = pd.read_csv(i)

In [4]:

df.reset_index(drop=True, inplace=True)

df.shape

(9994, 17)

In [5]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'returns',
       'returns%'],
      dtype='object')

In [6]:
new = []
for i in df.columns:
    name = i.lower().replace(" ", "_")
    new.append(name)

df.columns = new

df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'returns',
       'returns%'],
      dtype='object')

In [7]:
df.head

<bound method NDFrame.head of       order_id  order_date       ship_mode    segment        country  \
0            1  2023-03-01    Second Class   Consumer  United States
1            2  2023-08-15    Second Class   Consumer  United States
2            3  2023-01-10    Second Class  Corporate  United States
3            4  2022-06-18  Standard Class   Consumer  United States
4            5  2022-07-13  Standard Class   Consumer  United States
...        ...         ...             ...        ...            ...
9989      9990  2023-02-18    Second Class   Consumer  United States
9990      9991  2023-03-17  Standard Class   Consumer  United States
9991      9992  2022-08-07  Standard Class   Consumer  United States
9992      9993  2022-11-19  Standard Class   Consumer  United States
9993      9994  2022-07-17    Second Class   Consumer  United States

                 city       state  postal_code region         category  \
0           Henderson    Kentucky        42420  South        Furniture
1           Henderson    Kentucky        42420  South        Furniture
2         Los Angeles  California        90036   West  Office Supplies
3     Fort Lauderdale     Florida        33311  South        Furniture
4     Fort Lauderdale     Florida        33311  South  Office Supplies
...               ...         ...          ...    ...              ...
9989            Miami     Florida        33180  South        Furniture
9990       Costa Mesa  California        92627   West        Furniture
9991       Costa Mesa  California        92627   West       Technology
9992       Costa Mesa  California        92627   West  Office Supplies
9993      Westminster  California        92683   West  Office Supplies

     sub_category       product_id  quantity  discount  sale_price  returns  \
0       Bookcases  FUR-BO-10001798         2       5.2       254.8     14.8
1          Chairs  FUR-CH-10000454         3      21.9       708.1    108.1
2          Labels  OFF-LA-10000240         2       0.5         9.5     -0.5
3          Tables  FUR-TA-10000577         5      19.2       940.8    160.8
4         Storage  OFF-ST-10000760         2       1.0        19.0     -1.0
...           ...              ...       ...       ...         ...      ...
9989  Furnishings  FUR-FU-10001889         3       1.2        28.8     -1.2
9990  Furnishings  FUR-FU-10000747         2       3.6        86.4     16.4
9991       Phones  TEC-PH-10003645         2       5.2       254.8     34.8
9992        Paper  OFF-PA-10004041         4       0.9        29.1     -0.9
9993   Appliances  OFF-AP-10002684         2       7.2       232.8     22.8

      returns%
0         6.17
1        18.02
2        -5.00
3        20.62
4        -5.00
...        ...
9989     -4.00
9990     23.43
9991     15.82
9992     -3.00
9993     10.86

[9994 rows x 17 columns]>

In [8]:
df["city"].value_counts()[df["city"].value_counts() >= 500]

city
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Name: count, dtype: int64

In [9]:
for i in df.columns:

    print(f"{i} \n {df[i].unique()} \n\n\n")

order_id
 [   1    2    3 ... 9992 9993 9994]



order_date
 ['2023-03-01' '2023-08-15' '2023-01-10' '2022-06-18' '2022-07-13'
 '2022-03-13' '2022-12-28' '2022-01-25' '2023-03-23' '2023-05-16'
 '2023-03-31' '2023-12-25' '2022-02-11' '2023-07-18' '2023-11-09'
 '2022-02-04' '2023-08-04' '2022-01-23' '2022-01-11' '2022-10-05'
 '2023-07-16' '2023-05-06' '2023-05-21' '2023-02-24' '2022-06-20'
 '2022-02-08' '2023-12-11' '2022-08-21' '2022-08-14' '2022-11-20'
 '2023-01-19' '2023-01-30' '2022-06-03' '2022-09-28' '2022-10-30'
 '2023-07-27' '2023-03-07' '2023-08-18' '2022-01-20' '2023-06-29'
 '2022-06-28' '2023-02-09' '2023-09-18' '2022-11-11' '2022-05-27'
 '2023-02-03' '2022-02-16' '2022-05-06' '2023-06-18' '2023-09-09'
 '2022-01-31' '2023-07-30' '2023-10-17' '2023-07-06' '2023-09-15'
 '2022-08-09' '2022-04-05' '2023-06-24' '2022-03-10' '2023-04-08'
 '2023-10-16' '2023-08-02' '2022-11-05' '2022-03-26' '2022-04-10'
 '2022-08-12' '2022-02-25' '2022-11-29' '2022-12-18' '2023-07-12'
 '2022-10-21' '2023-04-17' '2023-05-20' '2023-05-13' '2022-10-20'
 '2023-10-22' '2022-07-20' '2022-11-16' '2022-11-10' '2022-03-15'
 '2023-10-03' '2022-03-20' '2023-12-04' '2023-11-24' '2023-12-30'
 '2022-05-23' '2023-04-06' '2022-03-23' '2023-04-07' '2022-05-13'
 '2022-04-23' '2023-12-17' '2022-04-28' '2023-06-14' '2023-02-05'
 '2022-02-24' '2022-07-25' '2022-01-14' '2022-12-22' '2022-06-09'
 '2023-10-28' '2022-10-18' '2022-11-23' '2023-10-12' '2023-03-17'
 '2023-09-05' '2022-01-28' '2022-12-26' '2023-06-06' '2023-11-08'
 '2022-11-15' '2022-06-30' '2023-10-27' '2023-07-19' '2023-03-30'
 '2022-03-03' '2023-01-23' '2023-01-21' '2023-07-15' '2022-07-14'
 '2022-01-03' '2022-07-17' '2022-03-30' '2022-05-01' '2023-04-29'
 '2022-10-28' '2022-03-05' '2022-03-28' '2022-05-15' '2022-06-10'
 '2022-07-22' '2023-12-27' '2023-11-29' '2022-03-19' '2023-06-04'
 '2023-05-31' '2022-06-12' '2022-05-18' '2023-08-21' '2023-08-31'
 '2022-10-25' '2022-10-07' '2023-03-25' '2023-03-27' '2022-05-03'
 '2022-04-25' '2022-01-10' '2023-11-27' '2023-10-14' '2022-10-16'
 '2023-11-04' '2023-06-16' '2022-07-12' '2023-10-10' '2023-01-02'
 '2022-04-21' '2022-04-18' '2022-03-08' '2023-06-08' '2022-06-25'
 '2023-02-23' '2022-10-19' '2022-08-22' '2023-10-11' '2022-12-06'
 '2023-12-09' '2022-06-23' '2023-01-07' '2022-10-26' '2023-11-03'
 '2023-03-05' '2022-12-21' '2022-06-16' '2022-12-11' '2022-12-31'
 '2022-03-12' '2023-07-10' '2023-12-01' '2023-08-08' '2022-08-19'
 '2023-10-07' '2023-04-22' '2023-11-20' '2022-08-29' '2023-08-10'
 '2023-04-24' '2022-03-24' '2023-03-26' '2023-11-19' '2023-11-18'
 '2022-04-22' '2022-02-17' '2023-10-02' '2023-07-21' '2023-01-18'
 '2023-10-19' '2023-09-13' '2023-11-10' '2023-11-26' '2022-01-02'
 '2022-01-19' '2023-12-13' '2023-01-20' '2023-04-25' '2023-05-27'
 '2022-11-08' '2022-01-08' '2022-04-20' '2022-11-09' '2023-04-28'
 '2022-09-26' '2023-09-19' '2022-05-28' '2022-04-03' '2022-12-25'
 '2022-11-26' '2022-02-10' '2022-06-11' '2023-08-29' '2022-06-14'
 '2023-06-20' '2022-11-17' '2023-10-25' '2022-05-19' '2022-08-10'
 '2022-01-24' '2022-09-16' '2022-10-31' '2023-04-04' '2023-10-20'
 '2022-05-21' '2022-05-17' '2022-10-06' '2023-10-05' '2022-07-28'
 '2022-08-01' '2023-06-05' '2023-04-01' '2023-06-22' '2023-05-30'
 '2023-08-05' '2023-11-17' '2022-09-25' '2022-09-24' '2022-06-29'
 '2023-09-12' '2023-09-01' '2022-05-05' '2023-08-06' '2022-09-08'
 '2022-05-30' '2023-01-13' '2022-05-12' '2022-12-07' '2023-06-11'
 '2023-10-01' '2022-04-11' '2022-03-21' '2022-05-04' '2023-07-08'
 '2022-08-30' '2022-09-07' '2023-06-07' '2022-07-09' '2022-01-12'
 '2022-07-01' '2023-07-13' '2023-04-21' '2022-09-18' '2022-05-09'
 '2022-05-07' '2023-02-01' '2023-02-04' '2022-02-14' '2023-09-08'
 '2023-10-29' '2022-02-20' '2023-05-01' '2023-01-26' '2023-11-05'
 '2023-01-25' '2023-09-20' '2022-10-14' '2022-08-15' '2022-07-15'
 '2022-10-29' '2022-09-23' '2022-09-27' '2022-03-02' '2023-02-25'
 '2023-05-17' '2023-12-19' '2023-03-21' '2023-02-08' '2023-01-27'
 '2023-03-04' '2023-08-26' '2023-03-14' '2022-12-19' '2022-11-03'
 '2022-06-26' '2022-08-23' '2023-09-23' '2022-02-02' '2022-10-22'
 '2023-02-11' '2023-03-06' '2023-02-12' '2023-04-02' '2022-05-25'
 '2022-08-28' '2022-11-25' '2022-05-11' '2023-12-31' '2023-12-08'
 '2022-08-05' '2022-08-20' '2023-08-28' '2023-12-18' '2022-10-17'
 '2023-12-26' '2023-11-07' '2023-06-03' '2022-02-18' '2023-03-19'
 '2023-03-10' '2022-04-15' '2023-08-17' '2022-02-13' '2023-02-10'
 '2022-02-23' '2022-11-18' '2022-06-06' '2022-01-09' '2022-10-15'
 '2022-12-15' '2022-07-06' '2023-12-05' '2023-12-07' '2022-03-14'
 '2022-04-04' '2023-03-16' '2022-12-05' '2023-12-23' '2023-12-22'
 '2023-09-24' '2022-11-30' '2022-10-01' '2023-04-23' '2022-04-24'
 '2023-04-20' '2022-12-04' '2022-12-27' '2023-12-12' '2022-07-16'
 '2022-02-01' '2023-07-03' '2023-08-07' '2022-12-16' '2023-10-15'
 '2023-12-14' '2023-03-09' '2023-01-08' '2023-01-03' '2023-06-26'
 '2022-12-09' '2022-10-13' '2023-11-06' '2022-08-03' '2022-10-10'
 '2023-12-10' '2023-09-28' '2022-01-04' '2022-08-25' '2022-09-03'
 '2023-03-24' '2022-05-24' '2022-11-01' '2022-07-18' '2023-01-06'
 '2023-11-22' '2022-01-29' '2023-05-14' '2022-02-28' '2022-08-27'
 '2023-10-23' '2022-11-28' '2023-12-15' '2023-06-30' '2023-11-13'
 '2022-08-26' '2022-09-22' '2022-09-21' '2022-06-05' '2023-01-09'
 '2023-09-21' '2022-06-02' '2022-09-01' '2023-07-01' '2023-11-25'
 '2022-11-27' '2022-06-21' '2022-10-04' '2022-01-26' '2022-01-01'
 '2023-06-10' '2022-03-01' '2023-07-29' '2023-07-04' '2022-10-02'
 '2023-07-14' '2023-11-11' '2022-12-08' '2023-06-12' '2023-11-02'
 '2022-08-17' '2023-07-22' '2023-11-16' '2022-07-21' '2023-03-03'
 '2023-04-03' '2023-02-19' '2022-06-08' '2022-03-29' '2023-05-25'
 '2023-11-15' '2022-07-04' '2022-03-11' '2023-02-07' '2022-10-11'
 '2022-06-24' '2022-01-30' '2023-03-20' '2022-06-04' '2023-01-01'
 '2023-07-24' '2022-12-12' '2023-01-04' '2022-10-24' '2022-08-18'
 '2022-07-08' '2022-01-18' '2023-02-14' '2022-07-31' '2022-08-16'
 '2022-02-03' '2022-11-14' '2022-07-26' '2023-02-20' '2022-01-06'
 '2022-05-31' '2023-02-15' '2022-08-31' '2023-01-16' '2023-01-15'
 '2022-08-08' '2023-02-18' '2022-01-05' '2022-03-27' '2023-12-03'
 '2022-01-07' '2022-04-02' '2022-09-29' '2023-08-22' '2023-01-14'
 '2022-09-15' '2022-04-27' '2022-12-10' '2022-11-04' '2023-08-20'
 '2022-06-07' '2022-07-24' '2023-08-09' '2023-07-20' '2022-09-04'
 '2022-02-06' '2022-11-13' '2023-02-21' '2022-08-13' '2023-06-25'
 '2023-05-18' '2022-11-21' '2022-04-16' '2022-04-26' '2022-01-16'
 '2023-07-25' '2023-05-02' '2022-06-15' '2023-10-04' '2023-11-01'
 '2023-09-27' '2023-08-11' '2023-05-05' '2023-07-05' '2023-02-27'
 '2022-04-09' '2022-05-14' '2023-03-11' '2023-04-14' '2022-11-06'
 '2023-05-24' '2023-05-26' '2022-04-30' '2023-07-28' '2023-10-13'
 '2022-09-12' '2022-04-08' '2023-11-23' '2023-06-21' '2023-10-24'
 '2022-03-07' '2023-12-21' '2023-08-27' '2022-07-05' '2023-03-22'
 '2022-07-02' '2022-04-06' '2023-07-26' '2022-11-02' '2022-04-01'
 '2023-09-06' '2023-04-27' '2023-05-12' '2022-07-11' '2022-06-01'
 '2022-02-07' '2023-06-13' '2023-07-11' '2022-05-10' '2023-02-06'
 '2023-05-09' '2023-05-29' '2022-03-17' '2023-03-13' '2022-08-04'
 '2022-02-22' '2022-06-27' '2022-10-23' '2023-09-04' '2023-08-16'
 '2022-09-13' '2022-05-29' '2023-04-16' '2023-11-14' '2023-08-14'
 '2023-02-17' '2023-09-02' '2022-10-08' '2023-08-03' '2023-07-17'
 '2022-04-14' '2022-06-22' '2023-12-29' '2023-09-16' '2022-08-06'
 '2023-10-21' '2023-01-24' '2022-04-19' '2023-07-23' '2023-06-27'
 '2022-05-22' '2023-09-07' '2022-04-29' '2023-12-16' '2022-02-15'
 '2022-04-12' '2023-04-09' '2022-04-17' '2023-10-18' '2023-09-03'
 '2022-07-03' '2022-09-06' '2023-12-02' '2022-08-24' '2023-06-02'
 '2022-11-24' '2023-01-28' '2022-12-24' '2022-11-12' '2023-08-23'
 '2022-12-23' '2023-04-26' '2022-07-19' '2022-01-13' '2023-05-10'
 '2022-09-09' '2023-04-10' '2022-03-06' '2022-08-02' '2023-12-28'
 '2023-10-31' '2023-07-07' '2023-05-22' '2022-09-20' '2023-06-09'
 '2023-05-11' '2023-11-21' '2023-04-30' '2022-07-23' '2023-08-24'
 '2022-04-13' '2022-09-02' '2023-09-30' '2023-12-20' '2023-05-23'
 '2022-09-05' '2022-03-09' '2022-01-21' '2022-05-08' '2022-03-22'
 '2023-03-02' '2023-04-13' '2023-03-29' '2023-02-26' '2023-01-12'
 '2023-07-09' '2023-01-11' '2022-10-27' '2022-07-30' '2022-09-17'
 '2023-05-07' '2023-10-30' '2022-12-02' '2022-12-20' '2023-11-30'
 '2022-09-11' '2023-03-28' '2023-09-25' '2023-08-25' '2023-07-02'
 '2022-01-15' '2022-12-13' '2022-05-16' '2023-09-10' '2023-04-05'
 '2023-06-28' '2023-06-19' '2023-08-13' '2023-04-19' '2023-03-15'
 '2022-03-25' '2022-09-30' '2022-02-05' '2023-08-19' '2022-12-14'
 '2023-03-18' '2023-02-16' '2023-06-01' '2023-11-12' '2022-05-26'
 '2022-02-27' '2023-05-08' '2022-07-27' '2023-11-28' '2022-05-20'
 '2022-01-17' '2023-07-31' '2023-04-12' '2022-10-12' '2022-12-01'
 '2023-01-17' '2022-11-19' '2023-10-08' '2023-09-26' '2023-04-15'
 '2023-06-17' '2023-03-12' '2022-01-22' '2022-03-18' '2023-01-31'
 '2023-08-12' '2023-05-15' '2023-02-02' '2023-10-26' '2022-03-04'
 '2022-06-13' '2022-12-29' '2022-02-12' '2023-05-19' '2022-08-07'
 '2022-12-17' '2022-02-19' '2023-01-05' '2022-11-22' '2022-07-10'
 '2022-05-02' '2022-03-31' '2023-02-22' '2023-08-30' '2023-09-17'
 '2022-06-17' '2023-02-28' '2023-05-28' '2022-07-07' '2023-01-29'
 '2022-09-19' '2023-10-06' '2023-04-11' '2023-06-23' '2022-09-14'
 '2022-03-16' '2022-06-19' '2022-02-26' '2023-03-08' '2023-05-03'
 '2023-12-24' '2022-08-11' '2022-12-03' '2023-09-14' '2023-06-15'
 '2022-01-27' '2022-02-09' '2023-08-01' '2023-01-22' '2023-02-13'
 '2023-09-29' '2023-04-18' '2023-09-11' '2022-10-09' '2023-10-09'
 '2022-07-29' '2022-04-07' '2022-02-21' '2023-12-06' '2022-12-30'
 '2022-11-07' '2023-05-04' '2022-09-10' '2022-10-03' '2023-09-22']



ship_mode
 ['Second Class' 'Standard Class' nan 'First Class' 'Same Day']



segment
 ['Consumer' 'Corporate' 'Home Office']



country
 ['United States']



city
 ['Henderson' 'Los Angeles' 'Fort Lauderdale' 'Concord' 'Seattle'
 'Fort Worth' 'Madison' 'West Jordan' 'San Francisco' 'Fremont'
 'Philadelphia' 'Orem' 'Houston' 'Richardson' 'Naperville' 'Melbourne'
 'Eagan' 'Westland' 'Dover' 'New Albany' 'New York City' 'Troy' 'Chicago'
 'Gilbert' 'Springfield' 'Jackson' 'Memphis' 'Decatur' 'Durham' 'Columbia'
 'Rochester' 'Minneapolis' 'Portland' 'Saint Paul' 'Aurora' 'Charlotte'
 'Orland Park' 'Urbandale' 'Columbus' 'Bristol' 'Wilmington' 'Bloomington'
 'Phoenix' 'Roseville' 'Independence' 'Pasadena' 'Newark' 'Franklin'
 'Scottsdale' 'San Jose' 'Edmond' 'Carlsbad' 'San Antonio' 'Monroe'
 'Fairfield' 'Grand Prairie' 'Redlands' 'Hamilton' 'Westfield' 'Akron'
 'Denver' 'Dallas' 'Whittier' 'Saginaw' 'Medina' 'Dublin' 'Detroit'
 'Tampa' 'Santa Clara' 'Lakeville' 'San Diego' 'Brentwood' 'Chapel Hill'
 'Morristown' 'Cincinnati' 'Inglewood' 'Tamarac' 'Colorado Springs'
 'Belleville' 'Taylor' 'Lakewood' 'Arlington' 'Arvada' 'Hackensack'
 'Saint Petersburg' 'Long Beach' 'Hesperia' 'Murfreesboro' 'Layton'
 'Austin' 'Lowell' 'Manchester' 'Harlingen' 'Tucson' 'Quincy'
 'Pembroke Pines' 'Des Moines' 'Peoria' 'Las Vegas' 'Warwick' 'Miami'
 'Huntington Beach' 'Richmond' 'Louisville' 'Lawrence' 'Canton'
 'New Rochelle' 'Gastonia' 'Jacksonville' 'Auburn' 'Norman' 'Park Ridge'
 'Amarillo' 'Lindenhurst' 'Huntsville' 'Fayetteville' 'Costa Mesa'
 'Parker' 'Atlanta' 'Gladstone' 'Great Falls' 'Lakeland' 'Montgomery'
 'Mesa' 'Green Bay' 'Anaheim' 'Marysville' 'Salem' 'Laredo' 'Grove City'
 'Dearborn' 'Warner Robins' 'Vallejo' 'Mission Viejo' 'Rochester Hills'
 'Plainfield' 'Sierra Vista' 'Vancouver' 'Cleveland' 'Tyler' 'Burlington'
 'Waynesboro' 'Chester' 'Cary' 'Palm Coast' 'Mount Vernon' 'Hialeah'
 'Oceanside' 'Evanston' 'Trenton' 'Cottage Grove' 'Bossier City'
 'Lancaster' 'Asheville' 'Lake Elsinore' 'Omaha' 'Edmonds' 'Santa Ana'
 'Milwaukee' 'Florence' 'Lorain' 'Linden' 'Salinas' 'New Brunswick'
 'Garland' 'Norwich' 'Alexandria' 'Toledo' 'Farmington' 'Riverside'
 'Torrance' 'Round Rock' 'Boca Raton' 'Virginia Beach' 'Murrieta'
 'Olympia' 'Washington' 'Jefferson City' 'Saint Peters' 'Rockford'
 'Brownsville' 'Yonkers' 'Oakland' 'Clinton' 'Encinitas' 'Roswell'
 'Jonesboro' 'Antioch' 'Homestead' 'La Porte' 'Lansing' 'Cuyahoga Falls'
 'Reno' 'Harrisonburg' 'Escondido' 'Royal Oak' 'Rockville' 'Coral Springs'
 'Buffalo' 'Boynton Beach' 'Gulfport' 'Fresno' 'Greenville' 'Macon'
 'Cedar Rapids' 'Providence' 'Pueblo' 'Deltona' 'Murray' 'Middletown'
 'Freeport' 'Pico Rivera' 'Provo' 'Pleasant Grove' 'Smyrna' 'Parma'
 'Mobile' 'New Bedford' 'Irving' 'Vineland' 'Glendale' 'Niagara Falls'
 'Thomasville' 'Westminster' 'Coppell' 'Pomona' 'North Las Vegas'
 'Allentown' 'Tempe' 'Laguna Niguel' 'Bridgeton' 'Everett' 'Watertown'
 'Appleton' 'Bellevue' 'Allen' 'El Paso' 'Grapevine' 'Carrollton' 'Kent'
 'Lafayette' 'Tigard' 'Skokie' 'Plano' 'Suffolk' 'Indianapolis' 'Bayonne'
 'Greensboro' 'Baltimore' 'Kenosha' 'Olathe' 'Tulsa' 'Redmond' 'Raleigh'
 'Muskogee' 'Meriden' 'Bowling Green' 'South Bend' 'Spokane' 'Keller'
 'Port Orange' 'Medford' 'Charlottesville' 'Missoula' 'Apopka' 'Reading'
 'Broomfield' 'Paterson' 'Oklahoma City' 'Chesapeake' 'Lubbock'
 'Johnson City' 'San Bernardino' 'Leominster' 'Bozeman' 'Perth Amboy'
 'Ontario' 'Rancho Cucamonga' 'Moorhead' 'Mesquite' 'Stockton'
 'Ormond Beach' 'Sunnyvale' 'York' 'College Station' 'Saint Louis'
 'Manteca' 'San Angelo' 'Salt Lake City' 'Knoxville' 'Little Rock'
 'Lincoln Park' 'Marion' 'Littleton' 'Bangor' 'Southaven' 'New Castle'
 'Midland' 'Sioux Falls' 'Fort Collins' 'Clarksville' 'Sacramento'
 'Thousand Oaks' 'Malden' 'Holyoke' 'Albuquerque' 'Sparks' 'Coachella'
 'Elmhurst' 'Passaic' 'North Charleston' 'Newport News' 'Jamestown'
 'Mishawaka' 'La Quinta' 'Tallahassee' 'Nashville' 'Bellingham'
 'Woodstock' 'Haltom City' 'Wheeling' 'Summerville' 'Hot Springs'
 'Englewood' 'Las Cruces' 'Hoover' 'Frisco' 'Vacaville' 'Waukesha'
 'Bakersfield' 'Pompano Beach' 'Corpus Christi' 'Redondo Beach' 'Orlando'
 'Orange' 'Lake Charles' 'Highland Park' 'Hempstead' 'Noblesville'
 'Apple Valley' 'Mount Pleasant' 'Sterling Heights' 'Eau Claire' 'Pharr'
 'Billings' 'Gresham' 'Chattanooga' 'Meridian' 'Bolingbrook' 'Maple Grove'
 'Woodland' 'Missouri City' 'Pearland' 'San Mateo' 'Grand Rapids'
 'Visalia' 'Overland Park' 'Temecula' 'Yucaipa' 'Revere' 'Conroe'
 'Tinley Park' 'Dubuque' 'Dearborn Heights' 'Santa Fe' 'Hickory'
 'Carol Stream' 'Saint Cloud' 'North Miami' 'Plantation'
 'Port Saint Lucie' 'Rock Hill' 'Odessa' 'West Allis' 'Chula Vista'
 'Manhattan' 'Altoona' 'Thornton' 'Champaign' 'Texarkana' 'Edinburg'
 'Baytown' 'Greenwood' 'Woonsocket' 'Superior' 'Bedford' 'Covington'
 'Broken Arrow' 'Miramar' 'Hollywood' 'Deer Park' 'Wichita' 'Mcallen'
 'Iowa City' 'Boise' 'Cranston' 'Port Arthur' 'Citrus Heights'
 'The Colony' 'Daytona Beach' 'Bullhead City' 'Portage' 'Fargo' 'Elkhart'
 'San Gabriel' 'Margate' 'Sandy Springs' 'Mentor' 'Lawton' 'Hampton'
 'Rome' 'La Crosse' 'Lewiston' 'Hattiesburg' 'Danville' 'Logan'
 'Waterbury' 'Athens' 'Avondale' 'Marietta' 'Yuma' 'Wausau' 'Pasco'
 'Oak Park' 'Pensacola' 'League City' 'Gaithersburg' 'Lehi' 'Tuscaloosa'
 'Moreno Valley' 'Georgetown' 'Loveland' 'Chandler' 'Helena' 'Kirkwood'
 'Waco' 'Frankfort' 'Bethlehem' 'Grand Island' 'Woodbury' 'Rogers'
 'Clovis' 'Jupiter' 'Santa Barbara' 'Cedar Hill' 'Norfolk' 'Draper'
 'Ann Arbor' 'La Mesa' 'Pocatello' 'Holland' 'Milford' 'Buffalo Grove'
 'Lake Forest' 'Redding' 'Chico' 'Utica' 'Conway' 'Cheyenne' 'Owensboro'
 'Caldwell' 'Kenner' 'Nashua' 'Bartlett' 'Redwood City' 'Lebanon'
 'Santa Maria' 'Des Plaines' 'Longview' 'Hendersonville' 'Waterloo'
 'Cambridge' 'Palatine' 'Beverly' 'Eugene' 'Oxnard' 'Renton' 'Glenview'
 'Delray Beach' 'Commerce City' 'Texas City' 'Wilson' 'Rio Rancho'
 'Goldsboro' 'Montebello' 'El Cajon' 'Beaumont' 'West Palm Beach'
 'Abilene' 'Normal' 'Saint Charles' 'Camarillo' 'Hillsboro' 'Burbank'
 'Modesto' 'Garden City' 'Atlantic City' 'Longmont' 'Davis' 'Morgan Hill'
 'Clifton' 'Sheboygan' 'East Point' 'Rapid City' 'Andover' 'Kissimmee'
 'Shelton' 'Danbury' 'Sanford' 'San Marcos' 'Greeley' 'Mansfield' 'Elyria'
 'Twin Falls' 'Coral Gables' 'Romeoville' 'Marlborough' 'Laurel' 'Bryan'
 'Pine Bluff' 'Aberdeen' 'Hagerstown' 'East Orange' 'Arlington Heights'
 'Oswego' 'Coon Rapids' 'San Clemente' 'San Luis Obispo' 'Springdale'
 'Lodi' 'Mason']



state
 ['Kentucky' 'California' 'Florida' 'North Carolina' 'Washington' 'Texas'
 'Wisconsin' 'Utah' 'Nebraska' 'Pennsylvania' 'Illinois' 'Minnesota'
 'Michigan' 'Delaware' 'Indiana' 'New York' 'Arizona' 'Virginia'
 'Tennessee' 'Alabama' 'South Carolina' 'Oregon' 'Colorado' 'Iowa' 'Ohio'
 'Missouri' 'Oklahoma' 'New Mexico' 'Louisiana' 'Connecticut' 'New Jersey'
 'Massachusetts' 'Georgia' 'Nevada' 'Rhode Island' 'Mississippi'
 'Arkansas' 'Montana' 'New Hampshire' 'Maryland' 'District of Columbia'
 'Kansas' 'Vermont' 'Maine' 'South Dakota' 'Idaho' 'North Dakota'
 'Wyoming' 'West Virginia']



postal_code
 [42420 90036 33311 90032 28027 98103 76106 53711 84084 94109 68025 19140
 84057 90049 77095 75080 77041 60540 32935 55122 48185 19901 47150 10024
 12180 90004 60610 85234 22153 10009 49201 38109 77070 35601 94122 27707
 60623 29203 55901 55407 97206 55106 80013 28205 60462 10035 50322 43229
 37620 19805 61701 85023 95661 64055 91104 43055 53132 85254 95123 98105
 98115 73034 90045 19134 88220 78207 77036 62521 71203  6824 75051 92374
 45011  7090 19120 44312 80219 75220 37064 90604 48601 44256 43017 48227
 38401 33614 95051 55044 92037 77506 94513 27514  7960 45231 94110 90301
 33319 80906  7109 48180  8701 22204 80004  7601 33710 19143 90805 92345
 37130 84041 78745  1852 31907  6040 78550 85705 62301  2038 33024 98198
 61604 89115  2886 33180 28403 92646 40475 80027  1841 39212 48187 10801
 28052 32216 47201 13021 73071 94521 60068 79109 11757 90008 92024 77340
 14609 72701 92627 80134 30318 64118 59405 48234 33801 36116 85204 60653
 54302 45503 92804 98270 97301 78041 75217 43123 10011 48126 31088 94591
 92691 48307  7060 85635 98661 60505 76017 40214 75081 44105 75701 27217
 22980 19013 27511 32137 10550 48205 33012 11572 92105 60201 48183 55016
 71111 50315 93534 23223 28806 92530 68104 98026 92704 53209 41042 44052
  7036 93905  8901 17602  3301 21044 75043  6360 22304 43615 87401 92503
 90503 78664 92054 33433 23464 92563 28540 52601 98502 20016 65109 63376
 61107 33142 78521 10701 94601 28110 20735 30076 72401 47374 94509 33030
 46350 48911 44221 89502 22801 92025 48073 20852 33065 14215 33437 39503
 93727 27834 11561 35630 31204 52402  2908 81001 94533 32725 42071  6457
 11520 90660 84604 84062 30080 24153 44134 36608  2740 75061  8360 85301
 14304 27360 92683 38301 75019 91767 89031 18103 19711 85281 92677  8302
  2149 13601 54915 98006 75002 79907 76051 75007 37167 98031 70506 97224
 60076 75023 23434 46203  7002 28314 27405 21215 53142 66062 98002 74133
 97756 27604 74403  6450 42104 46614  6010 89015 99207 76248 45014 32127
 97504 22901 59801 33178 29501 97477 32712 19601 80020 65807  7501 73120
 23320 79424 65203 37604 36830 92404  1453 59715 85345 44107  8861 91761
 91730 56560 75150 95207 32174 94086  3820 17403 77840 63116  2169 95336
 44240 76903 84106 35810 37918 72209 48146 43302 80122  5408  4401 38671
 47362 48640 57103 80525 47905 37042 95823 91360  2148  1040 87105 89431
 92236 60126  7055 29406 23602 14701 46544 43402 92253 32303 37211 98226
 60098 76117 60090 29483 71901 80112 43130 88001 35244 75034 95687 84107
 53186 93309 33068 45373 78415 90278 32839  7050 70601 60035 11550 46060
 55124 29464 48310 54703 78577 59102 97030 37421 83642 92307 60440 55369
 95695 77489 77581 94403 49505 93277 66212 92592 92399  2151 77301 60477
 52001 48127 87505 28601 60188 56301 33161 46226 33317 34952 29730 79762
 53214 91911 66502 16602 80229 61821 47401 71854 78539 77520 46142 90712
  2895 54880 76021 98042 74012 33023 33021 77536 67212 78501 52240 83704
  2920 61032 77642 95610 75056 98052 32114 86442 46368 58103 46514 91776
 33063 30328 44060 73505 23666 13440 54601 83501 39401 94526 48858 84321

In [10]:
df["ship_mode"].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [11]:
df["ship_mode"] = df["ship_mode"].replace(["Not Available", "unknown"], pd.NA)

In [12]:
import numpy as np

df["ship_mode"] = df["ship_mode"].replace(pd.NA, np.nan)
df["ship_mode"].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [13]:
df["category"].value_counts()

category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: count, dtype: int64

In [14]:
df["sub_category"].value_counts()

sub_category
Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: count, dtype: int64

In [15]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,returns,returns%
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8,6.17
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1,18.02
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5,-5.00
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8,20.62
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0,-5.00

In [16]:
df["discount"] = df["list_price"] * df["discount_percent"] / 100
df

KeyError: 'list_price'

In [17]:

df["sale_price"] = df["list_price"] - df["discount"]

df["sale_price"]

0       254.8
1       708.1
2         9.5
3       940.8
4        19.0
        ...
9989     28.8
9990     86.4
9991    254.8
9992     29.1
9993    232.8
Name: sale_price, Length: 9994, dtype: float64

In [18]:
df["profit"] = df["sale_price"] - df["cost_price"]

df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [19]:
df.rename(columns={"profit" : "returns"}, inplace=True)

df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,returns
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [17]:
df["returns%"] = round((df["returns"] * 100) / df["cost_price"], 2)

df.head()

KeyError: 'cost_price'

In [21]:
df.drop(columns=["discount_percent", "list_price", "cost_price"], inplace=True, errors='ignore')

df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,returns,returns%
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8,6.17
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1,18.02
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5,-5.00
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8,20.62
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0,-5.00

In [22]:
len(df.columns)

17

In [19]:
df.rename(columns={"returns%": "returns_percent"}, inplace=True)

In [20]:
df.to_csv('data.csv', index=False)

In [21]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,returns,returns_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8,6.17
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1,18.02
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5,-5.00
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8,20.62
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0,-5.00